[buildout]
extends = base.cfg

parts +=
# development tools
    zopepy
    zptlint
    pyflakes
    pep8
    omelette
    releaser
    sphinxbuilder
    test

# deployment tools
    fabfile
    fabric

# generate config files from ./etc
    nginx-conf

# Zope instance
    instance

eggs +=
# debugging tools
    Products.Clouseau
    Products.DocFinderTab
    Products.PrintingMailHost
    plone.reload


# =========================
# Develop external packages
# =========================
extensions += mr.developer
sources = sources
auto-checkout = *

[sources]
# niteoweb.loginas = svn https://svn.plone.org/svn/collective/niteoweb.loginas/trunk


# =============================================================
# Prepare a python interpreter with all buildout eggs installed
# =============================================================
[zopepy]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
extra-paths = ${buildout:directory}
interpreter = zopepy
scripts = zopepy


# ===============================
# Prepare syntax validation tools
# ===============================
[zptlint]
recipe = zc.recipe.egg
eggs =
    zptlint
scripts =
    zptlint

[pyflakes]
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'

[pep8]
recipe = zc.recipe.egg
eggs =
   pep8
scripts =
   pep8


# ===============================================
# Mirrors python namespaces into one handy folder
# ===============================================
[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


# ==================================================
# Configure zest.releaser package releasing commands
# ==================================================
[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


# ======================================
# Prepare Sphinx documentation generator
# ======================================
[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs/sphinx
interpreter = ${buildout:directory}/bin/zopepy


# ==========================================
# Prepare test-runner for running unit tests
# ==========================================
[test]
recipe = zc.recipe.testrunner
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']
eggs =
    ${buildout:eggs}
    niteoweb.zulu [test]


# ====================================
# Configure Fabric deployment commands
# ====================================
[fabric]
recipe = zc.recipe.egg
eggs =
    Fabric
    ${buildout:eggs}

[fabfile]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/fabfile.py.in
output = ${buildout:directory}/fabfile.py


# ==========================================
# Generate config files from ./etc_templates
# ==========================================
[nginx-conf]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/nginx.conf.in
output = ${buildout:directory}/etc/nginx.conf


# ==================================
# Create a development Zope instance
# ==================================
[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
debug-mode = off
verbose-security = on
environment-vars = zope_i18n_compile_mo_files = true
eggs =
    ${buildout:eggs}