[buildout]
extends = base.cfg

parts +=
# development tools
    pyflakes
    pep8
    omelette
    releaser
    sphinxbuilder
    test

# deployment tools
    fabfile
    fabric

# generate config files from ./etc
    iptables
    munin-node-conf
    nginx-conf
    bacula-fd-conf
    bacula-master-conf

# Zope instance
    zope

eggs +=
# debugging tools
    Products.Clouseau
    Products.DocFinderTab
    Products.PrintingMailHost
    sauna.reload
    
zcml +=
    sauna.reload


# =========================
# Develop external packages
# =========================
extensions += mr.developer
sources = sources
auto-checkout = *

[sources]
# niteoweb.loginas = svn https://svn.plone.org/svn/collective/niteoweb.loginas/trunk


# ===============================
# Prepare syntax validation tools
# ===============================
[pyflakes] 
recipe = zc.recipe.egg 
scripts = 
   pyflakes 
eggs = 
   pyflakes 
entry-points = pyflakes=pkg_resources:run_script 
arguments = 'pyflakes', 'pyflakes' 

[pep8] 
recipe = zc.recipe.egg 
eggs = 
   pep8
scripts = 
   pep8


# ===============================================
# Mirrors python namespaces into one handy folder
# ===============================================
[omelette]
recipe = collective.recipe.omelette
eggs = ${zope:eggs}


# ==================================================
# Configure zest.releaser package releasing commands
# ==================================================
[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


# ======================================
# Prepare Sphinx documentation generator
# ======================================
[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs/sphinx
interpreter = ${buildout:directory}/bin/zopepy


# ==========================================
# Prepare test-runner for running unit tests
# ==========================================
[test]
recipe = zc.recipe.testrunner
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']
eggs =
    ${buildout:eggs}
    niteoweb.zulu [test]


# ====================================
# Configure Fabric deployment commands
# ====================================
[fabric]
recipe = zc.recipe.egg
eggs = Fabric

[fabfile]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/fabfile.py.in
output = ${buildout:directory}/fabfile.py


# ==========================================
# Generate config files from ./etc_templates
# ==========================================
[munin-node-conf]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/munin-node.conf.in
output = ${buildout:directory}/etc/munin-node.conf

[nginx-conf]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/nginx.conf.in
output = ${buildout:directory}/etc/nginx.conf

[iptables]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/iptables.in
output = ${buildout:directory}/etc/iptables

[bacula-fd-conf]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/bacula-fd.conf.in
output = ${buildout:directory}/etc/bacula-fd.conf

[bacula-master-conf]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/bacula-master.conf.in
output = ${buildout:directory}/etc/bacula-master.conf


# ==================================
# Create a development Zope instance
# ==================================
[zope]
recipe = plone.recipe.zope2instance
user = admin:admin
debug-mode = off
verbose-security = on
environment-vars =
    zope_i18n_compile_mo_files = true
eggs =
    ${buildout:eggs}
zcml =
    ${buildout:zcml}
